/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* General */

form {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: space-between;
}

input {
    display: block;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border-color: 2px solid green;
}

input:focus {
    border: 2px solid blue;
}

label {
    opacity: 0.6;
}

label > span {
    font-size: 14px;
}